// Colors

$color-white: #ffffff;
$color-purple: #7772F1;
$color-hover-background: #554fee;
$color-black: #000000;
$color-dark: #1E212C;
$color-gray: #424551;
$color-text: #787A80;
$color-light-gray: #9A9CA5;
$color-gray-background: #F4F5F6;
$color-gray-border: #E5E8ED;
$color-green: #03CEA4;