// Colors

$color-white: #ffffff;
$color-purple: #7772F1;
$color-hover-background: #554fee;
$color-black: #000000;
$color-dark: #1E212C;
$color-gray: #424551;
$color-text: #787A80;
$color-light-gray: #9A9CA5;